body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u976 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:749px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u977 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:749px;
}
#u978 {
  position:absolute;
  left:2px;
  top:366px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1055px;
  height:621px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u979 {
  position:absolute;
  left:140px;
  top:121px;
  width:1055px;
  height:621px;
}
#u980 {
  position:absolute;
  left:2px;
  top:302px;
  width:1051px;
  visibility:hidden;
  word-wrap:break-word;
}
#u981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1055px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u981 {
  position:absolute;
  left:140px;
  top:76px;
  width:1055px;
  height:42px;
}
#u982 {
  position:absolute;
  left:2px;
  top:13px;
  width:1051px;
  visibility:hidden;
  word-wrap:break-word;
}
#u983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u983 {
  position:absolute;
  left:152px;
  top:89px;
  width:213px;
  height:18px;
  color:#999999;
}
#u984 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  word-wrap:break-word;
}
#u986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:71px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u986 {
  position:absolute;
  left:5px;
  top:3px;
  width:1190px;
  height:71px;
}
#u987 {
  position:absolute;
  left:2px;
  top:28px;
  width:1186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:666px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u988 {
  position:absolute;
  left:5px;
  top:76px;
  width:133px;
  height:666px;
}
#u989 {
  position:absolute;
  left:2px;
  top:325px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:57px;
}
#u990 {
  position:absolute;
  left:13px;
  top:10px;
  width:161px;
  height:56px;
  font-size:20px;
  color:#999999;
}
#u991 {
  position:absolute;
  left:2px;
  top:16px;
  width:157px;
  word-wrap:break-word;
}
#u992 {
  position:absolute;
  left:0px;
  top:115px;
  width:117px;
  height:325px;
}
#u992_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u993 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
  color:#1E1E1E;
}
#u994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u994 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u994_img.selected {
}
#u994.selected {
}
#u995 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u996 {
  position:absolute;
  left:22px;
  top:0px;
  width:32px;
  height:20px;
}
#u997 {
  position:absolute;
  left:3px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u993_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u998 {
  position:absolute;
  left:20px;
  top:20px;
  width:79px;
  height:20px;
  color:#1E1E1E;
}
#u999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u999 {
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u1000 {
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u1001 {
  position:absolute;
  left:20px;
  top:40px;
  width:79px;
  height:20px;
  color:#1E1E1E;
}
#u1002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1002 {
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u1003 {
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u1004 {
  position:absolute;
  left:0px;
  top:60px;
  width:79px;
  height:20px;
  color:#1E1E1E;
}
#u1005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u1005 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u1005_img.selected {
}
#u1005.selected {
}
#u1006 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1007 {
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u1008 {
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u1004_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1009 {
  position:absolute;
  left:20px;
  top:20px;
  width:79px;
  height:20px;
  color:#1E1E1E;
}
#u1010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1010 {
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u1011 {
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u1012 {
  position:absolute;
  left:20px;
  top:40px;
  width:79px;
  height:20px;
  color:#1E1E1E;
}
#u1013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1013 {
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u1014 {
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u1015 {
  position:absolute;
  left:20px;
  top:60px;
  width:79px;
  height:20px;
  color:#1E1E1E;
}
#u1016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1016 {
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u1017 {
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u1018 {
  position:absolute;
  left:20px;
  top:80px;
  width:79px;
  height:20px;
  color:#1E1E1E;
}
#u1019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1019 {
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u1020 {
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u1021 {
  position:absolute;
  left:20px;
  top:100px;
  width:79px;
  height:20px;
  color:#1E1E1E;
}
#u1022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1022 {
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u1023 {
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u1024 {
  position:absolute;
  left:20px;
  top:120px;
  width:92px;
  height:20px;
  color:#1E1E1E;
}
#u1025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1025 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u1026 {
  position:absolute;
  left:3px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u1027 {
  position:absolute;
  left:0px;
  top:200px;
  width:79px;
  height:20px;
  color:#1E1E1E;
}
#u1028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u1028 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u1028_img.selected {
}
#u1028.selected {
}
#u1029 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1030 {
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u1031 {
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u1027_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1032 {
  position:absolute;
  left:20px;
  top:20px;
  width:54px;
  height:20px;
  color:#1E1E1E;
}
#u1033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1033 {
  position:absolute;
  left:22px;
  top:0px;
  width:32px;
  height:20px;
}
#u1034 {
  position:absolute;
  left:3px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u1035 {
  position:absolute;
  left:20px;
  top:40px;
  width:54px;
  height:20px;
  color:#1E1E1E;
}
#u1036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1036 {
  position:absolute;
  left:22px;
  top:0px;
  width:32px;
  height:20px;
}
#u1037 {
  position:absolute;
  left:3px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u1038 {
  position:absolute;
  left:20px;
  top:60px;
  width:79px;
  height:20px;
  color:#1E1E1E;
}
#u1039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1039 {
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u1040 {
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u1041 {
  position:absolute;
  left:0px;
  top:280px;
  width:79px;
  height:20px;
  color:#1E1E1E;
}
#u1042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u1042 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u1042_img.selected {
}
#u1042.selected {
}
#u1043 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1044 {
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u1045 {
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u1041_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1046 {
  position:absolute;
  left:20px;
  top:20px;
  width:88px;
  height:20px;
  color:#1E1E1E;
}
#u1047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1047 {
  position:absolute;
  left:22px;
  top:0px;
  width:108px;
  height:20px;
}
#u1048 {
  position:absolute;
  left:3px;
  top:2px;
  width:103px;
  white-space:nowrap;
}
#u1049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#009DD9;
  text-align:center;
}
#u1049 {
  position:absolute;
  left:1125px;
  top:24px;
  width:58px;
  height:41px;
  font-size:13px;
  color:#009DD9;
  text-align:center;
}
#u1049_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#009DD9;
  text-align:center;
}
#u1049.mouseOver {
}
#u1050 {
  position:absolute;
  left:0px;
  top:13px;
  width:58px;
  word-wrap:break-word;
}
#u1051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1051 {
  position:absolute;
  left:197px;
  top:20px;
  width:463px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1052 {
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  word-wrap:break-word;
}
#u1053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1055px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1053 {
  position:absolute;
  left:140px;
  top:76px;
  width:1055px;
  height:42px;
}
#u1054 {
  position:absolute;
  left:2px;
  top:13px;
  width:1051px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1055 {
  position:absolute;
  left:913px;
  top:36px;
  width:201px;
  height:18px;
  color:#999999;
}
#u1056 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  word-wrap:break-word;
}
#u1057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u1057 {
  position:absolute;
  left:143px;
  top:79px;
  width:73px;
  height:39px;
  color:#CCCCCC;
}
#u1058 {
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u1059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u1059 {
  position:absolute;
  left:220px;
  top:79px;
  width:82px;
  height:39px;
  color:#CCCCCC;
}
#u1060 {
  position:absolute;
  left:2px;
  top:3px;
  width:78px;
  word-wrap:break-word;
}
#u1061 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:655px;
  height:239px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1062 {
  position:absolute;
  left:156px;
  top:139px;
  width:655px;
  height:239px;
}
#u1063 {
  position:absolute;
  left:2px;
  top:112px;
  width:651px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1064 {
  position:absolute;
  left:193px;
  top:169px;
  width:109px;
  height:18px;
  text-align:right;
}
#u1065 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u1066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1066 {
  position:absolute;
  left:170px;
  top:277px;
  width:132px;
  height:18px;
  text-align:right;
}
#u1067 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u1068 {
  position:absolute;
  left:302px;
  top:270px;
  width:254px;
  height:32px;
}
#u1068_input {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u1069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1069 {
  position:absolute;
  left:152px;
  top:221px;
  width:151px;
  height:18px;
  text-align:right;
}
#u1070 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u1071 {
  position:absolute;
  left:302px;
  top:214px;
  width:254px;
  height:32px;
}
#u1071_input {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u1072 {
  position:absolute;
  left:302px;
  top:162px;
  width:254px;
  height:32px;
}
#u1072_input {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u1073 {
  position:absolute;
  left:302px;
  top:320px;
  width:254px;
  height:32px;
}
#u1073_input {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u1074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1074 {
  position:absolute;
  left:183px;
  top:327px;
  width:119px;
  height:18px;
  text-align:right;
}
#u1075 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u1076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:32px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:8px;
  -moz-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u1076 {
  position:absolute;
  left:412px;
  top:461px;
  width:77px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u1076_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:8px;
  -moz-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u1076.mouseOver {
}
#u1077 {
  position:absolute;
  left:2px;
  top:8px;
  width:73px;
  word-wrap:break-word;
}
#u1078 {
  position:absolute;
  left:262px;
  top:406px;
  width:201px;
  height:16px;
}
#u1079 {
  position:absolute;
  left:16px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u1078_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
