body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8198 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:747px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8199 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:747px;
}
#u8200 {
  position:absolute;
  left:2px;
  top:366px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1055px;
  height:621px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8201 {
  position:absolute;
  left:140px;
  top:121px;
  width:1055px;
  height:621px;
}
#u8202 {
  position:absolute;
  left:2px;
  top:302px;
  width:1051px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:71px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8204 {
  position:absolute;
  left:5px;
  top:3px;
  width:1190px;
  height:71px;
}
#u8205 {
  position:absolute;
  left:2px;
  top:28px;
  width:1186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:666px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8206 {
  position:absolute;
  left:5px;
  top:76px;
  width:133px;
  height:666px;
}
#u8207 {
  position:absolute;
  left:2px;
  top:325px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:57px;
}
#u8208 {
  position:absolute;
  left:13px;
  top:10px;
  width:161px;
  height:56px;
  font-size:20px;
  color:#999999;
}
#u8209 {
  position:absolute;
  left:2px;
  top:16px;
  width:157px;
  word-wrap:break-word;
}
#u8210 {
  position:absolute;
  left:0px;
  top:115px;
  width:113px;
  height:425px;
}
#u8210_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8211 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
  color:#1E1E1E;
}
#u8212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u8212 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u8212_img.selected {
}
#u8212.selected {
}
#u8213 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8214 {
  position:absolute;
  left:22px;
  top:0px;
  width:32px;
  height:20px;
}
#u8215 {
  position:absolute;
  left:3px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u8211_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8216 {
  position:absolute;
  left:20px;
  top:20px;
  width:79px;
  height:20px;
  color:#1E1E1E;
}
#u8217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8217 {
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u8218 {
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u8219 {
  position:absolute;
  left:20px;
  top:40px;
  width:79px;
  height:20px;
  color:#1E1E1E;
}
#u8220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8220 {
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u8221 {
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u8222 {
  position:absolute;
  left:20px;
  top:60px;
  width:79px;
  height:20px;
  color:#1E1E1E;
}
#u8223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8223 {
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u8224 {
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u8225 {
  position:absolute;
  left:0px;
  top:80px;
  width:79px;
  height:20px;
  color:#1E1E1E;
}
#u8226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u8226 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u8226_img.selected {
}
#u8226.selected {
}
#u8227 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8228 {
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u8229 {
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u8225_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8230 {
  position:absolute;
  left:20px;
  top:20px;
  width:79px;
  height:20px;
  color:#1E1E1E;
}
#u8231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8231 {
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u8232 {
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u8233 {
  position:absolute;
  left:20px;
  top:40px;
  width:79px;
  height:20px;
  color:#1E1E1E;
}
#u8234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8234 {
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u8235 {
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u8236 {
  position:absolute;
  left:20px;
  top:60px;
  width:79px;
  height:20px;
  color:#1E1E1E;
}
#u8237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8237 {
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u8238 {
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u8239 {
  position:absolute;
  left:0px;
  top:160px;
  width:79px;
  height:20px;
  color:#1E1E1E;
}
#u8240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u8240 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u8240_img.selected {
}
#u8240.selected {
}
#u8241 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8242 {
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u8243 {
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u8239_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8244 {
  position:absolute;
  left:20px;
  top:20px;
  width:79px;
  height:20px;
  color:#1E1E1E;
}
#u8245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8245 {
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u8246 {
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u8247 {
  position:absolute;
  left:20px;
  top:40px;
  width:79px;
  height:20px;
  color:#1E1E1E;
}
#u8248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8248 {
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u8249 {
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u8250 {
  position:absolute;
  left:20px;
  top:60px;
  width:79px;
  height:20px;
  color:#1E1E1E;
}
#u8251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8251 {
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u8252 {
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u8253 {
  position:absolute;
  left:20px;
  top:80px;
  width:79px;
  height:20px;
  color:#1E1E1E;
}
#u8254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8254 {
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u8255 {
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u8256 {
  position:absolute;
  left:0px;
  top:260px;
  width:79px;
  height:20px;
  color:#1E1E1E;
}
#u8257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u8257 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u8257_img.selected {
}
#u8257.selected {
}
#u8258 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8259 {
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u8260 {
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u8256_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8261 {
  position:absolute;
  left:20px;
  top:20px;
  width:88px;
  height:20px;
  color:#1E1E1E;
}
#u8262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8262 {
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u8263 {
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u8264 {
  position:absolute;
  left:20px;
  top:40px;
  width:88px;
  height:20px;
  color:#1E1E1E;
}
#u8265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8265 {
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u8266 {
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u8267 {
  position:absolute;
  left:0px;
  top:320px;
  width:79px;
  height:20px;
  color:#1E1E1E;
}
#u8268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u8268 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u8268_img.selected {
}
#u8268.selected {
}
#u8269 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8270 {
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u8271 {
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u8267_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8272 {
  position:absolute;
  left:20px;
  top:20px;
  width:54px;
  height:20px;
  color:#1E1E1E;
}
#u8273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8273 {
  position:absolute;
  left:22px;
  top:0px;
  width:32px;
  height:20px;
}
#u8274 {
  position:absolute;
  left:3px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u8275 {
  position:absolute;
  left:20px;
  top:40px;
  width:54px;
  height:20px;
  color:#1E1E1E;
}
#u8276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8276 {
  position:absolute;
  left:22px;
  top:0px;
  width:32px;
  height:20px;
}
#u8277 {
  position:absolute;
  left:3px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u8278 {
  position:absolute;
  left:20px;
  top:60px;
  width:79px;
  height:20px;
  color:#1E1E1E;
}
#u8279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8279 {
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u8280 {
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u8281 {
  position:absolute;
  left:20px;
  top:80px;
  width:79px;
  height:20px;
  color:#1E1E1E;
}
#u8282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8282 {
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u8283 {
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u8284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#009DD9;
  text-align:center;
}
#u8284 {
  position:absolute;
  left:1125px;
  top:24px;
  width:58px;
  height:41px;
  font-size:13px;
  color:#009DD9;
  text-align:center;
}
#u8284_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#009DD9;
  text-align:center;
}
#u8284.mouseOver {
}
#u8285 {
  position:absolute;
  left:0px;
  top:13px;
  width:58px;
  word-wrap:break-word;
}
#u8286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u8286 {
  position:absolute;
  left:194px;
  top:20px;
  width:466px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u8287 {
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  word-wrap:break-word;
}
#u8288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1055px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8288 {
  position:absolute;
  left:140px;
  top:76px;
  width:1055px;
  height:42px;
}
#u8289 {
  position:absolute;
  left:2px;
  top:13px;
  width:1051px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u8290 {
  position:absolute;
  left:143px;
  top:79px;
  width:73px;
  height:39px;
  color:#CCCCCC;
}
#u8291 {
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u8292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u8292 {
  position:absolute;
  left:220px;
  top:79px;
  width:82px;
  height:39px;
  color:#CCCCCC;
}
#u8293 {
  position:absolute;
  left:2px;
  top:3px;
  width:78px;
  word-wrap:break-word;
}
#u8294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u8294 {
  position:absolute;
  left:913px;
  top:36px;
  width:201px;
  height:18px;
  color:#999999;
}
#u8295 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  word-wrap:break-word;
}
#u8296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u8296 {
  position:absolute;
  left:478px;
  top:63px;
  width:641px;
  height:16px;
  color:#FF0000;
}
#u8297 {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u8298 {
  position:absolute;
  left:284px;
  top:140px;
  width:133px;
  height:40px;
  color:#666666;
}
#u8299 {
  position:absolute;
  left:2px;
  top:12px;
  width:129px;
  word-wrap:break-word;
}
#u8300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u8300 {
  position:absolute;
  left:416px;
  top:140px;
  width:133px;
  height:40px;
  color:#666666;
}
#u8301 {
  position:absolute;
  left:2px;
  top:12px;
  width:129px;
  word-wrap:break-word;
}
#u8302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:32px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:8px;
  -moz-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u8302 {
  position:absolute;
  left:1099px;
  top:81px;
  width:77px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u8302_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:8px;
  -moz-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u8302.mouseOver {
}
#u8303 {
  position:absolute;
  left:2px;
  top:8px;
  width:73px;
  word-wrap:break-word;
}
#u8304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:454px;
}
#u8304 {
  position:absolute;
  left:171px;
  top:229px;
  width:1px;
  height:453px;
}
#u8305 {
  position:absolute;
  left:2px;
  top:218px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u8306 {
  position:absolute;
  left:162px;
  top:218px;
  width:19px;
  height:19px;
}
#u8307 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u8308 {
  position:absolute;
  left:162px;
  top:570px;
  width:19px;
  height:19px;
}
#u8309 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u8310 {
  position:absolute;
  left:162px;
  top:615px;
  width:19px;
  height:19px;
}
#u8311 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u8312 {
  position:absolute;
  left:162px;
  top:682px;
  width:19px;
  height:19px;
}
#u8313 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u8314 {
  position:absolute;
  left:198px;
  top:217px;
  width:134px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u8315 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u8316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u8316 {
  position:absolute;
  left:354px;
  top:217px;
  width:134px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u8317 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u8318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u8318 {
  position:absolute;
  left:198px;
  top:570px;
  width:134px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u8319 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u8320_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u8320 {
  position:absolute;
  left:354px;
  top:570px;
  width:134px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u8321 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u8322_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u8322 {
  position:absolute;
  left:203px;
  top:682px;
  width:134px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u8323 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u8324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u8324 {
  position:absolute;
  left:354px;
  top:682px;
  width:134px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u8325 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u8326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u8326 {
  position:absolute;
  left:198px;
  top:615px;
  width:134px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u8327 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u8328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u8328 {
  position:absolute;
  left:354px;
  top:615px;
  width:181px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u8329 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  word-wrap:break-word;
}
#u8330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u8330 {
  position:absolute;
  left:162px;
  top:513px;
  width:19px;
  height:19px;
}
#u8331 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u8332 {
  position:absolute;
  left:198px;
  top:513px;
  width:134px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u8333 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u8334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u8334 {
  position:absolute;
  left:354px;
  top:513px;
  width:134px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u8335 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u8336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u8336 {
  position:absolute;
  left:162px;
  top:453px;
  width:19px;
  height:19px;
}
#u8337 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u8338 {
  position:absolute;
  left:198px;
  top:453px;
  width:134px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u8339 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u8340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u8340 {
  position:absolute;
  left:354px;
  top:453px;
  width:220px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u8341 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u8342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u8342 {
  position:absolute;
  left:354px;
  top:482px;
  width:304px;
  height:18px;
  color:#999999;
}
#u8343 {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  word-wrap:break-word;
}
#u8344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u8344 {
  position:absolute;
  left:162px;
  top:400px;
  width:19px;
  height:19px;
}
#u8345 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u8346 {
  position:absolute;
  left:198px;
  top:400px;
  width:134px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u8347 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u8348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u8348 {
  position:absolute;
  left:354px;
  top:400px;
  width:220px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u8349 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u8350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u8350 {
  position:absolute;
  left:162px;
  top:332px;
  width:19px;
  height:19px;
}
#u8351 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u8352 {
  position:absolute;
  left:198px;
  top:332px;
  width:134px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u8353 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u8354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u8354 {
  position:absolute;
  left:354px;
  top:332px;
  width:220px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u8355 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u8356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u8356 {
  position:absolute;
  left:162px;
  top:270px;
  width:19px;
  height:19px;
}
#u8357 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u8358 {
  position:absolute;
  left:199px;
  top:270px;
  width:134px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u8359 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u8360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u8360 {
  position:absolute;
  left:355px;
  top:270px;
  width:220px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u8361 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u8362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u8362 {
  position:absolute;
  left:354px;
  top:302px;
  width:304px;
  height:18px;
  color:#999999;
}
#u8363 {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  word-wrap:break-word;
}
#u8364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u8364 {
  position:absolute;
  left:354px;
  top:540px;
  width:304px;
  height:18px;
  color:#999999;
}
#u8365 {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  word-wrap:break-word;
}
#u8366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u8366 {
  position:absolute;
  left:355px;
  top:360px;
  width:304px;
  height:18px;
  color:#999999;
}
#u8367 {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  word-wrap:break-word;
}
#u8368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u8368 {
  position:absolute;
  left:354px;
  top:646px;
  width:187px;
  height:18px;
  color:#999999;
}
#u8369 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u8370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u8370 {
  position:absolute;
  left:152px;
  top:140px;
  width:133px;
  height:40px;
  color:#666666;
}
#u8371 {
  position:absolute;
  left:2px;
  top:12px;
  width:129px;
  word-wrap:break-word;
}
#u8372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u8372 {
  position:absolute;
  left:354px;
  top:425px;
  width:304px;
  height:18px;
  color:#999999;
}
#u8373 {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  word-wrap:break-word;
}
#u8374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u8374 {
  position:absolute;
  left:354px;
  top:595px;
  width:304px;
  height:18px;
  color:#999999;
}
#u8375 {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  word-wrap:break-word;
}
